<html>
<head>
<title>Словарь</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="static/styles.css" rel="stylesheet">
<script src="static/scripts.js"></script>
</head>

<body>
<div class="placeholder"></div>
<div class="random">{{ random_word }}</div><p>
<form method="POST" action="/" class="form_new_word">
    <input type="text" name="new_word">
    <input type="submit" value="Сохранить">
</form>

<div class="message"></div>
<p><p>
<form method="POST" action="/" class="form_translation">
    <input type="text" name="trans_word">
    <input type="submit" value="Сохранить">
</form>


<div class="placeholder"></div>
</body>


</html>